@media (max-width:768px){
  .home-section .header{
    font-size: 25px !important;
  }
  
  .sidebar.open ~ .home-section{
    left:78px !important;
    width: calc(100% - 78px) !important;
  }
}

@media (max-height: 600px){
  .sidebar .wrapper{
    margin-top: -30px !important;
  }
}