@font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins-Regular.ttf);
}

.color-red{
  color: var(--color-sidebar-sublist-1)!important;
}

.color-green{
  color: var(--color-sidebar-sublist-2)!important;
}

.color-yellow{
  color: var(--color-sidebar-sublist-3)!important;
}

.color-purple{
  color: var(--color-sidebar-sublist-4)!important;
}

*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: 'Poppins';
}


body{
  min-height: 100vh;
}

.box-shadow{
  -webkit-box-shadow: 0 0 10px 5px var(--color-shadow);
  -moz-box-shadow: 0 0 10px 5px var(--color-shadow);
  box-shadow: 0 0 10px 5px var(--color-shadow);
}

.content-box-shadow{
  box-shadow: 0 4px 20px -6px var(--color-shadow);
}

.sidebar{
  min-height: 100vh;
  width: 78px;
  padding: 4px 14px;
  z-index: 99;
  background-color: var(--color-sidebar-bg);
  transition: all .5s ease;
  position: fixed;
  top:0;
  left: 0;
  overflow: hidden;
}

.sidebar.open{
  width: 250px;
}

.sidebar-content-container{
  height: 65vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

.sidebar-content-container:hover{
  overflow-y: overlay;
}

.wrapper{
  height: 100%;
  transition: all .5s ease;
}

.sidebar.open .wrapper{
  transition: all .5s ease;
}


ul {
  padding-left: 0 !important;
}

.sidebar .logo_details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}


.sidebar .logo{
  height: auto;
  width: 30%;
}


.logo_details {
  margin-top: 40px;
  margin-bottom: 40px;
}

.sidebar .logo_details .icon{
  opacity: 0;
  transition: all 0.5s ease ;
}

.sidebar .logo_details .logo_name{
  color:var(--color-sidebar-text);
  font-size: 18px;
  font-weight: 600;
  opacity: 0;
  transition: all .5s ease;
  margin-left: 10px;
}

.sidebar.open .logo_details .icon,
.sidebar.open .logo_details .logo_name{
  opacity: 1;
}

.sidebar .logo_details #btn{
  position: absolute;
  top:50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all .5s ease;
}

.sidebar.open .logo_details #btn{
  text-align: right;
}

.sidebar i{
  color:var(--color-sidebar-text);
  height: 60px;
  line-height: 60px;
  min-width: 50px;
  font-size: 25px;
  text-align: center;
}

.sidebar .nav-item{
  position: relative;
  margin:8px 0;
  list-style: none;
}

.sidebar .sub_list{
  display: none;
  list-style: none;
}

.sidebar .nav-item a{
  display: flex;
  width: 100%;
  align-items: center;
  text-decoration: none;
  background-color: transparent;
  position: relative;
  transition: all .5s ease;
  z-index: 12;
  padding: 8px 0;
}

.sidebar .sub-item a{
  height: 100%;
}

.sidebar .nav-item a::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  background-color: var(--color-sidebar-hover);
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
  transform-origin: left;
  z-index: -2;
}

.sidebar .nav-item a:hover::after{
  transform: scaleX(1);
  color:var(--color-sidebar-text)
}

.sidebar .active{
  background-color: var(--color-sidebar-active) !important;
  border-radius: 5px;
}

.sidebar .active i, .sidebar .active span{
  color:var(--color-sidebar-text) !important;
}

.sidebar .sub-active{
  background-color: var(--color-sidebar-subactive) !important;
  border-radius: 5px;
}

.sidebar .sub-active span{
  color:var(--color-sidebar-text);
}

.sidebar .nav-item a .link_name{
  color:var(--color-sidebar-text);
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  pointer-events: auto;
  display: flex;
  justify-content: space-between;
  transition: all 0.4s ease;
  pointer-events: none;
  opacity: 0;
}

.sidebar .nav-item a .sub_link_name{
  color:var(--color-sidebar-text);
  font-size: 12px;
  font-weight: 400;
  white-space: nowrap;
  pointer-events: auto;
  transition: all 0.4s ease;
  pointer-events: none;
  opacity: 0;
}

.sidebar .nav-item i .dropdown_icon{
  pointer-events: auto;
  transition: all 1s ease;
  pointer-events: none;
  opacity: 1;
}

.sidebar .nav-item a span .dropdown_icon {
  position: absolute;
  margin-left: 55%;
  margin-top: -5.5px;
  color: var(--color-sidebar-chevron-icon);
}

.sidebar .nav-item a:hover .link_name,
.sidebar .nav-item a:hover i{
  transition: all 0.5s ease;
  color:var(--color-sidebar-text)
}

.sidebar.open .nav-item a .link_name{
  opacity: 1;
  pointer-events: auto;
  cursor: pointer;
}

.sidebar .nav-item a:hover .sub_link_name,
.sidebar .nav-item a:hover i{
  transition: all 0.5s ease;
  color:var(--color-sidebar-text)
}

.sidebar.open .nav-item a .sub_link_name{
  opacity: 1;
  pointer-events: auto;
}

.sidebar.open .nav-item i .dropdown_icon{
  opacity: 0;
  transition: all 0.2s ease;
  pointer-events: auto;
}

.sidebar .nav-item i{
  height: 35px;
  line-height: 35px;
  font-size: 18px;
  border-radius: 5px;
}

.sidebar .nav-item .sub-item{
  margin: 3px 0;
  height: 35px;
  line-height: 35px;
  border-radius: 5px;
}

.sidebar .nav-item .sub-item .sub-icon{
  font-size: 10px;
}

.sidebar .nav-item i .dropdown_icon{
  position: absolute;
  margin-left: -34px;
  margin-top: 15px;
  color: var(--color-sidebar-chevron-icon);
}

.home-section{
  position: relative;
  background-color: var(--color-body);
  min-height: 100vh;
  top:0;
  left:78px;
  width: calc(100% - 78px);
  transition: all .5s ease;
  z-index: 2;
}

.home-section .header{
  color:var(--color-content-text);
  font-size: 30px;
  font-weight: 900;
  padding: 20px;
  width: 100%;
}

.sidebar.open ~ .home-section{
  left:250px;
  width: calc(100% - 250px);
}

.sidebar-content-container{
  direction: ltr;
}

.nav-list{
  direction: ltr;
}

.sidebar-content-container::-webkit-scrollbar{
  height: 5px;
  width: 5px;
}

.sidebar-content-container::-webkit-scrollbar-track{
  background-color: rgb(255 255 255 / 10%);
  border-radius: 10px;
}

.sidebar-content-container::-webkit-scrollbar-thumb{
  background-color: rgb(255 255 255 / 10%);
  border-radius: 10px;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.bottom-design{
  position: absolute;
  display: flex;
  align-items: end;
  height: 100%;
}

.design1{
  position: absolute;
  background-color: white;
  padding: 140px;
  opacity: 10%;
  border-radius: 100%;
  bottom: -13%;
  left: -120px;
}

.design2{
  position: absolute;
  background-color: white;
  padding: 120px;
  opacity: 10%;
  border-radius: 100%;
  bottom: -12%;
  left: 100px;
}

#popup{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100;
}

.close{
  top: 20px;
  right: 30px;
  transition: .25s;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: whitesmoke;
  cursor: pointer;
  padding: 0!important;
}

.close:hover{
  color: var(--color-sidebar-sublist-1);
}

.popup-card{
  background-color: var(--color-sidebar-bg);
  padding: 30px!important;
  border-radius: 30px;
  width: 25%;
}

.admin-text{
  font-weight: 600;
  font-size: 24px;
  color: whitesmoke;
  padding: 0!important;
  margin-bottom: 10px!important;
}

input{
  padding: 10px 20px!important;
  margin-bottom: 20px!important;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: whitesmoke;
}

.sign-in-button{
  text-align: center;
  position: relative;
  cursor: pointer;
  padding: 0px 0!important;
  border: none;
  border-radius: 5px;
  display: inline-block;
  align-items: center;
  height: 50px;
  width: 100%;
  color: whitesmoke;
  background-color: var(--color-sidebar-active);
  transition: background-color 0.5s ease;
}

.sign-in-button:hover{
  color: white;
  background-color: var(--color-sidebar-hover);
}